anyio==4.12.0
certifi==2025.11.12
charset-normalizer==3.4.4
dotenv==0.9.9
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
mysql-connector-python==9.5.0
openpyxl>=3.1.0
packaging==25.0
pillow==12.0.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0
python-dotenv==1.2.1
python-telegram-bot==22.5
requests==2.32.5
telethon==1.37.0
tzdata==2025.2
urllib3==2.6.2
xlrd>=2.0.1
